<style>
    #shopify-section-{{ section.id }} {
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
    .collection-container {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .collection-item img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .collection-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .collection-link {
      text-decoration: none;
      color: {{ section.settings.url_color }};
    }
    .collection-container svg {
      width: 1.2rem;
      height: auto;
      vertical-align: middle;
      margin-left: 1.5rem;
    }
    .collection-container .icon__caret {
      transform: rotate(-90deg);
      margin: 0;
    }
    .about-us_paragraph{
        font-size: 20px;
        font-family: Arial;
        text-overflow: ellipsis;
        padding-bottom: 45px;
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 800px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        color: #000000;
        font-family: Arial;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    @media(max-width: 800px) {
        .collection-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        #shopify-section-{{ section.id }} {
          margin-top: {{ section.settings.margin_top_mobile }}px;
          margin-bottom: {{ section.settings.margin_bottom_mobile }}px;
        }
        .about-us_paragraph{
          font-size: 18px;
        }
    }
    .about-us_heading_and_paragraph_split{
      max-width: 100px;
      width: 100%;
      margin: 0 auto;
      height: 3px;
      background-color: #dbb75d;
      opacity: 1;
    }
    .about-us_heading{
      margin-top: 50px;
      font-weight: 600;
      font-family: Arial;
      margin-bottom: 40px;
      font-size: 52px;
      color: black;
    }
    .col-head-container {
      width: 100%;
      text-align: center;
      margin-bottom: 50px;
    }
    @media screen and (max-width: 776px) {
      .about-us_heading {
        font-size: 40px;
      }
      .about-us_paragraph{
        margin-top: 30px;
      }
      .about-us_paragraph{
          font-size: 16px;
      }
    }
</style>
<div class="col-head-container page-width">
  {% if section.settings.heading != blank %}
    {% if section.settings.heading_bottom_margin %}
      <h1 class="about-us_heading ">{{ section.settings.heading }}</h1>
      <div class="about-us_heading_and_paragraph_split"></div>
    {% else %}
      <h1 class="banner__heading {{ section.settings.heading_size }}" style="text-align: center;">
        {{ section.settings.heading }}
      </h1>
    {% endif %}
  {% endif %}
</div>
<span class="about-us_paragraph">
  {{ section.settings.collections__text }}
</span>
<div class="collection-container page-width">
    {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
            {% assign blcokTitle = block.settings.text %}
            {% assign blockImg = block.settings.img %}
            <!--Block-->
            {% if block.settings.collection_url != blank %}
              <a class="collection-link" href="{{ block.settings.collection_url }}">
                <div class="collection-item">
                  {% if blockImg != blank %}
                    <img
                      class="global-media-settings global-media-settings--no-shadow"
                      srcset="{%- if blockImg.width >= 550 -%}{{ blockImg | image_url: width: 550 }} 550w,{%- endif -%}
                              {%- if blockImg.width >= 1100 -%}{{ blockImg | image_url: width: 1100 }} 1100w,{%- endif -%}
                              {%- if blockImg.width >= 1445 -%}{{ blockImg | image_url: width: 1445 }} 1445w,{%- endif -%}
                              {%- if blockImg.width >= 1680 -%}{{ blockImg | image_url: width: 1680 }} 1680w,{%- endif -%}
                              {%- if blockImg.width >= 2048 -%}{{ blockImg | image_url: width: 2048 }} 2048w,{%- endif -%}
                              {%- if blockImg.width >= 2200 -%}{{ blockImg | image_url: width: 2200 }} 2200w,{%- endif -%}
                              {%- if blockImg.width >= 2890 -%}{{ blockImg | image_url: width: 2890 }} 2890w,{%- endif -%}
                              {%- if blockImg.width >= 4096 -%}{{ blockImg | image_url: width: 4096 }} 4096w,{%- endif -%}
                              {{ blockImg | image_url }} {{ blockImg.width }}w"
                      sizes="(min-width: 750px) calc(100vw - 22rem), 1100px"
                      src="{{ blockImg | image_url: width: 1445 }}"
                      alt="{{ media.alt | escape }}"
                      loading="lazy"
                      width="1100"
                      height="{{ 1100 | divided_by: blockImg.aspect_ratio | ceil }}"
                      data-media-id="{{ media.id }}"
                    >
                  {% endif %}
                  <p class="collection-link">
                    {{ blcokTitle }}
                    {% if section.settings.arrow_select != 'none' %}
                      {% assign snippet_value = section.settings.arrow_select | prepend: 'icon-' %}
                      {% capture snipet_content %}{% include snippet_value %}{% endcapture %}
                        {{ snipet_content }}
                    {% endif %}
                  </p>
                </div>
              </a>
            {% else %}
              <div class="collection-item">
                {% if blockImg != blank %}
                  <img
                    class="global-media-settings global-media-settings--no-shadow"
                    srcset="{%- if blockImg.width >= 550 -%}{{ blockImg | image_url: width: 550 }} 550w,{%- endif -%}
                            {%- if blockImg.width >= 1100 -%}{{ blockImg | image_url: width: 1100 }} 1100w,{%- endif -%}
                            {%- if blockImg.width >= 1445 -%}{{ blockImg | image_url: width: 1445 }} 1445w,{%- endif -%}
                            {%- if blockImg.width >= 1680 -%}{{ blockImg | image_url: width: 1680 }} 1680w,{%- endif -%}
                            {%- if blockImg.width >= 2048 -%}{{ blockImg | image_url: width: 2048 }} 2048w,{%- endif -%}
                            {%- if blockImg.width >= 2200 -%}{{ blockImg | image_url: width: 2200 }} 2200w,{%- endif -%}
                            {%- if blockImg.width >= 2890 -%}{{ blockImg | image_url: width: 2890 }} 2890w,{%- endif -%}
                            {%- if blockImg.width >= 4096 -%}{{ blockImg | image_url: width: 4096 }} 4096w,{%- endif -%}
                            {{ blockImg | image_url }} {{ blockImg.width }}w"
                    sizes="(min-width: 750px) calc(100vw - 22rem), 1100px"
                    src="{{ blockImg | image_url: width: 1445 }}"
                    alt="{{ media.alt | escape }}"
                    loading="lazy"
                    width="1100"
                    height="{{ 1100 | divided_by: blockImg.aspect_ratio | ceil }}"
                    data-media-id="{{ media.id }}"
                  >
                {% endif %}
                <p class="collection-link">
                  {{ blcokTitle }}
                  {% if section.settings.arrow_select != 'none' %}
                  {% assign snippet_value = section.settings.arrow_select | prepend: 'icon-' %}
                  {% capture snipet_content %}{% include snippet_value %}{% endcapture %}
                    {{ snipet_content }}
                  {% endif %}
                </p>
              </div>
            {% endif %}
        {% endfor %}
    {% endif %}


</div>

{% schema %}
{
  "name": "Collections",
  "class": "collections-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Our Services",
      "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "color",
      "id": "url_color",
      "default": "#000000",
      "label": "Text color of the link"
    },
    {
      "type": "text",
      "id": "collections__text",
      "label": "Text about us",
      "default": "At Wealthy Expat, we understand that your time is precious, and we strive to make every step of the process as smooth as possible for you. From finding the best strategy to suit your individual needs to identifying the optimal residence or citizenship option, to opening a company and reducing taxes - we take care of everything from start to finish."
    },
    {
      "type": "select",
      "id": "arrow_select",
      "label": "Select style of arrow",
      "default": "caret",
      "options": [
        {
          "label": "Caret",
          "value": "caret"
        },
        {
          "label": "Arrow",
          "value": "arrow"
        },
        {
          "label": "None",
          "value": "none"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "heading_bottom_margin",
      "label": "Heading bottom border",
      "default": true
    },
    {
      "type": "range",
      "id": "margin_top",
      "unit": "px",
      "min": 0,
      "max": 100,
      "default": 20,
      "step": 1,
      "label": "Top padding of the section"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "unit": "px",
      "min": 0,
      "max": 100,
      "default": 20,
      "step": 1,
      "label": "Bottom padding of the section"
    },
    {
      "type": "range",
      "id": "margin_top_mobile",
      "unit": "px",
      "min": 0,
      "max": 100,
      "default": 20,
      "step": 1,
      "label": "Top padding of the section on mobile"
    },
    {
      "type": "range",
      "id": "margin_bottom_mobile",
      "unit": "px",
      "min": 0,
      "max": 100,
      "default": 20,
      "step": 1,
      "label": "Bottom padding of the section on mobile"
    }
  ],

  "blocks": [
    {
      "type": "accordionBlock",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
          "label": "Image"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default": "Solutions is the latest software Sigma?"
        },
        {
          "type": "url",
          "id": "collection_url",
          "label": "Url that it leads to"
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "Collections Section"
    }
  ]
}
{% endschema %}
