<style>
    #shopify-section-{{  section.id }} {
        color: #000000;
        font-family: Arial;
        margin-top: {{ section.settings.margin_top }}px;
        margin-bottom: {{ section.settings.margin_bottom }}px;
    }
    .about-us_heading_and_paragraph_split{
        max-width: 100px;
        width: 100%;
        margin: 0 auto;
        height: 3px;
        background-color: #dbb75d;
        opacity: 1;
    }
    .accordion-box{
        position:relative;
    }
    .our-services_heading {

    }
    .accordion-box .heading{
        position:relative;
        color:#000000;
        font-size:28px;
        font-weight:600;
        margin-bottom:45px;
        font-family: 'Poppins', sans-serif;
    }

    .accordion-box .block{
        position: relative;
        padding-top: 22px;
    }

    .accordion-box .block:last-child{
        border-bottom: 0px;
    }

    .accordion-box .block .acc-btn{
        font-size: {{ section.settings.faq_heading_size }}px;
        /* padding-left:50px; */
        padding-right: 50px;
        position:relative;
        cursor:pointer;
        line-height:1.35;
        color:#000000;
        font-weight:600;
        transition:all 500ms ease;
        -ms-transition:all 500ms ease;
        -o-transition:all 500ms ease;
        -moz-transition:all 500ms ease;
        -webkit-transition:all 500ms ease;
        font-family: 'Poppins', sans-serif;
    }

    .accordion-box .block .icon-outer{
        position:absolute;
        right:0px;
        top:50%;
        transform: translate(0, -50%);
        width:30px;
        height:30px;
        text-align:center;
        border-radius:50%;
        font-size:14px;
        color:#ffffff;
        transition:all 500ms ease;
        -moz-transition:all 500ms ease;
        -webkit-transition:all 500ms ease;
        -ms-transition:all 500ms ease;
        -o-transition:all 500ms ease;
        background: #dbb75d;
        /*background-image: -ms-linear-gradient(left, #FF8442 0%, #f4369e 100%);*/
        /*background-image: -moz-linear-gradient(left, #FF8442 0%, #f4369e 100%);*/
        /*background-image: -o-linear-gradient(left, #FF8442 0%, #f4369e 100%);*/
        /*background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #FF8442), color-stop(100, #f4369e));*/
        /*background-image: -webkit-linear-gradient(left, #FF8442 0%, #f4369e 100%);*/
        /*background-image: linear-gradient(to right, #FF8442 0%, #f4369e 100%);*/
    }

    .accordion-box .block .icon-outer .icon{
        position: absolute;
        left: 0px;
        top: 50%;
        margin-top: -15px;
        width: 30px;
        height: 30px;
        text-align: center;
        border-radius: 50%;
        line-height: 30px;
        font-size: 14px;
        color: #ffffff;
    }

    .accordion-box .block .icon-outer .icon-plus{
        opacity:1;
    }

    .accordion-box .block .icon-outer .icon-minus{
        /*opacity:0;*/
        transition: all ease 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px;
        color:#ffffff;
        font-weight:400;
    }

    .accordion-box .block .acc-btn.active .icon-outer .icon-minus{
       transform: rotate(135deg);
    }

    .accordion-box .block .acc-btn.active .icon-outer .icon-plus{
        opacity:0;
    }

    .accordion-box .block .acc-btn.active .icon-outer{
        border-color:#ff3548;
        color:#ff3548;
    }

    .accordion-box .block .acc-content{
        position:relative;
        display:none;
    }

    .accordion-box .block .acc-content .content-text{
        padding-bottom:6px;
    }

    .accordion-box .block .acc-content.current{
        display:block;
    }

    .accordion-box .block .content{
        position:relative;
        font-size:14px;
        padding:10px 0px 0px 0px;
    }

    .accordion-box .block .content p{
        margin-bottom:0px;
        line-height:1.55;
        font-size: {{ section.settings.paragraph_font_size }}px;
        color:#555555;
        padding-left:50px;
    }

    .accordion-box .block .content p:last-child{
        margin-bottom:0px;
    }

    .accordion-box.style-two .block .icon-outer{
        background-image:none;
        background-color:#eb2f5b;
    }
    .faq-title {
        text-align: center;
    }

    .our-services_heading {
      color: {{ section.settings.title_color }};
        font-weight: 600;
        font-family: Arial;
        margin-bottom: 40px;
        font-size: 52px;
        text-align: center;
    }

    @media screen and (max-width: 1024px) {
        .accordion.block {
            max-width: 650px;
        }
    }

    @media screen and (max-width: 961px) {
        .accordion.block {
            padding-right: 30px;
        }
        .accordion-box .block .acc-btn {
            padding-left: 0;
        }
        #shopify-section-{{  section.id }} {
            margin-top: {{ section.settings.margin_top_mobile }}px;
            margin-bottom: {{ section.settings.margin_bottom_mobile }}px;
        }
    }

    @media screen and (max-width: 776px) {
        .accordion-box .block .acc-btn {
            font-size: {{ section.settings.faq_heading_size_mobile }}px;
        }
        .accordion-box .block .content p {
            font-size: {{ section.settings.paragraph_font_size_mobile }}px;
            padding-left: 0;
        }
    }

</style>
{% assign title = section.settings.title %}
{% assign mainTitle = section.settings.mainHeading %}
{% assign imageMain = section.settings.imageMain %}
{% assign sectionText = section.settings.paragraph %}
<div class="faq-title">
    {% if title != blank %}
        <div class="heading_container">
            {% if section.settings.heading_bottom_margin %}
                <{{ section.settings.heading_size }} class="our-services_heading">{{ title }}</{{ section.settings.heading_size }}>
                <div class="about-us_heading_and_paragraph_split"></div>
            {% else %}
                <h2 class="banner__heading {{ section.settings.heading_size }}" style="text-align: center;">
                    {{ title }}
                </h2>
            {% endif %}
        </div>
    {% endif %}
</div>
<ul class="accordion-box">
    {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
            {% assign blcokTitle = block.settings.accordionTitle %}
            {% assign blockParagraph = block.settings.accordionParagraph %}
            <!--Block-->
            <li class="accordion block">
                <div class="acc-btn">{{ blcokTitle }}<div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus">{% include 'icon-plus' %}</span></div></div>
                <div class="acc-content">
                    <div class="content">
                        <div class="text">
                            <p>{{ blockParagraph }}</p>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    {% endif %}
</ul>

<script>
  if($('.accordion-box').length){
      $(".accordion-box").on('click', '.acc-btn', function() {
          var outerBox = $(this).parents('.accordion-box');
          var target = $(this).parents('.accordion');
   
          if($(this).hasClass('active')!==true){
            console.log("dadadadadadadadadad")

              $(outerBox).find('.accordion .acc-btn').removeClass('active');
          }
          if ($(this).hasClass('active')) {
              $(this).removeClass('active');
              target.removeClass('active-block');
              $(this).next('.acc-content').slideUp(300);
          }
          if ($(this).next('.acc-content').is(':visible')){
              return false;
          }else{
              $(this).addClass('active');
              $(outerBox).children('.accordion').removeClass('active-block');
              $(outerBox).find('.accordion').children('.acc-content').slideUp(300);
              target.addClass('active-block');
              $(this).next('.acc-content').slideDown(300);
          }
      });
  }
</script>

{% schema %}
{
  "name": "Moment Section",
  "class": "moment-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "imageMain",
      "label": "Main Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "we are pixer"
    },
    {
      "type": "checkbox",
      "id": "heading_bottom_margin",
      "label": "Heading bottom border",
      "default": true
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Color of the heading",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "faq_heading_size",
      "unit": "px",
      "min": 15,
      "max": 50,
      "default": 24,
      "step": 1,
      "label": "Font size of FAQ headings"
    },
    {
      "type": "range",
      "id": "faq_heading_size_mobile",
      "unit": "px",
      "min": 15,
      "max": 50,
      "default": 24,
      "step": 1,
      "label": "Font size of FAQ headings on mobile"
    },
    {
      "type": "range",
      "id": "paragraph_font_size",
      "unit": "px",
      "min": 10,
      "max": 50,
      "default": 20,
      "step": 1,
      "label": "Font size of FAQ paragraphs"
    },
    {
      "type": "range",
      "id": "paragraph_font_size_mobile",
      "unit": "px",
      "min": 10,
      "max": 50,
      "default": 16,
      "step": 1,
      "label": "Font size of FAQ paragraphs on mobile"
    },
    {
      "type": "textarea",
      "id": "mainHeading",
      "label": "Main Heading",
      "default": "we are happy to assist <br> you all time <span>moment</span>",
      "info": "For special customization use span"
    },
    {
      "type": "textarea",
      "id": "paragraph",
      "label": "Paragraph",
      "default": "Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed. So some forward-looking CIOs are putting."
    },
    {
      "type": "range",
      "id": "margin_top",
      "unit": "px",
      "min": 0,
      "max": 100,
      "default": 20,
      "step": 1,
      "label": "Top padding of the section"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "unit": "px",
      "min": 0,
      "max": 100,
      "default": 20,
      "step": 1,
      "label": "Bottom padding of the section"
    },
    {
      "type": "range",
      "id": "margin_top_mobile",
      "unit": "px",
      "min": 0,
      "max": 100,
      "default": 20,
      "step": 1,
      "label": "Top padding of the section on mobile"
    },
    {
      "type": "range",
      "id": "margin_bottom_mobile",
      "unit": "px",
      "min": 0,
      "max": 100,
      "default": 20,
      "step": 1,
      "label": "Bottom padding of the section on mobile"
    }
  ],
  "blocks": [
    {
      "type": "accordionBlock",
      "name": "Accordion Block",
      "settings": [
        {
          "type": "textarea",
          "id": "accordionTitle",
          "label": "Accordion Title",
          "default": "Solutions is the latest software Sigma?"
        },
        {
          "type": "textarea",
          "id": "accordionParagraph",
          "label": "Accordion Paragraph",
          "default": "The argument in favor of using to filler text goes something is that anybody can do it."
        }

      ]
    }
  ],

  "presets": [
    {
      "name": "FAQ Section"
    }
  ]
}
{% endschema %}
