<style>
  .hp-reviews {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .mySwiper_1{
    padding-top: 70px;
  }

</style>
<div class="hp-reviews page-width">
  <h2 class="banner__heading {{ section.settings.heading_size }}" style="text-align: center;">
    {{ section.settings.heading }}
  </h2>
  <div class="swiper mySwiper_1">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide">
          {% if block.settings.img %}
            <img src="{{ block.settings.img | img_url: "200x"}}" alt="img">
          {% endif %}
          <p>{{ block.settings.slide_text }}</p>
          <h3><strong>{{ block.settings.slide_heading }}</strong></h3>
          <p>fafafafaewfaeffaef</p>
          {% include 'yt-icon' %}
        </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>

<script>
  var swiper = new Swiper(".mySwiper_1", {
    slidesPerView: 1,
    pagination: {
      el: ".swiper-pagination",
      dynamicBullets: true,
    },
    breakpoints: {
      // when window width is >= 320px
      320: {
        slidesPerView: 1,
        spaceBetween: 20
      },
      // when window width is >= 991px
      991: {
        slidesPerView: 3,
        spaceBetween: 50
      }
    }
  });
</script>

{% schema %}
  {
    "name": "Reviews",
    "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Section heading",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
    ],
    "blocks": [
      {
        "type": "slide",
        "name": "Slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "img",
            "label": "Slider Image",
            "info": "Slider Image"
          },
          {
            "type": "text",
            "id": "slide_heading",
            "default": "Iman Gadzhi",
            "label": "Slide heading"
          },
          {
            "type": "text",
            "id": "slide_text",
            "default": "We've partnered with Wealthy Expat to help you pay 0% taxes legally with a simple structure and premium treatment, contact them for starting your company and 0 tax life in Dubai.",
            "label": "Slide text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Reviews"
      }
    ]
  }
{% endschema %}