<style>
  #shopify-section-{{  section.id }} {
    color: #000000;
    font-family: Arial;
    margin-top: {{ section.settings.margin_top }}px;
    margin-bottom: {{ section.settings.margin_bottom }}px;
  }

  .t-container {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      max-width: 1200px;
      padding: 0;
  }

  .t920__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .t920__row {
    display: inline;
    float: left;
    width: 100%;
  }

  .t-prefix_1 {
    padding-left: 100px;
  }

  .t-col_5 {
    max-width: 560px;
  }

  .t-col {
    display: inline;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
  }

  {% if section.settings.enable_slider %}
    .t920__wrapper {
      position: relative;
      padding-left: 70px;
    }
  {% else %}
    .t920__wrapper {
      position: relative;
      padding-left: 110px;
    }
  {% endif %}

  .t920__title {
    z-index: 2;
    position: relative;
    font-weight: 700;
    padding-top: 65px;
    padding-bottom: 10px;
  }

  .t920__bottommargin_sm {
    margin-bottom: 4px;
  }

  .t-name_lg {
    font-size: 22px;
    line-height: 1.35;
  }

  .t-name {
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 600;
    color: #000000;
  }

  .t920__descr {
    z-index: 2;
    position: relative;
  }

  .t-descr_xs {
    font-size: 16px;
    line-height: 1.55;
  }

  .t-descr {
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 300;
    color: #000000;
  }

  .t920__symbol {
    position: absolute;
    z-index: 1;
    line-height: 150px;
    left: 0;
    right: 0;
    top: 0;
    font-size: 200px;
    font-family: sans-serif;
    font-weight: 700;
    color: rgba(230,230,230,.7);
    opacity: .6;
    user-select: none;
  }

  .t-prefix_1 {
    padding-left: 100px;
  }

  .t920__offset {
    height: 1px;
  }

  .t-clear {
    clear: both;
  }

  .t-container:before, .t-container:after, .t-container_10:before, .t-container_10:after, .t-container_8:before, .t-container_8:after, .t-container_100:before, .t-container_100:after {
    display: table;
    content: " ";
    width: 0;
  }

  @media screen and (max-width: 1216px) {
    .t920__row.row__odd .t-col_5 {
      max-width: 500px;
    }
  }
  
  @media screen and (max-width: 1200px) {
    .t-col {
        display: inline;
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
    }
    .t-col_5 {
      max-width: 520px;
    }
    .t-prefix_1 {
      padding-left: 80px;
    }
  }

  @media screen and (max-width: 1057px) {
    .t920__row.row__odd .t-col_5 {
      max-width: 450px;
    }
  }

  @media screen and (max-width: 960px) {
    .t920__separator {
      display: none;
    }
    .t-col {
      display: block;
      float: none;
      padding-left: 20px;
      padding-right: 20px;
      margin: 0;
      width: 100%;
      max-width: 100%;
      box-sizing: border-box;
    }
    .t-col_1, .t-col_2, .t-col_3, .t-col_4, .t-col_5, .t-col_6, .t-col_7, .t-col_8, .t-col_9, .t-col_10, .t-col_11, .t-col_12 {
      width: 100%;
      max-width: 100%;
    }
    .t920__row.row__odd .t-col_5 {
      max-width: 100%;
      width: 100%;
    }
    .t920__col {
      margin-bottom: 45px;
    }
    .t920__title {
      z-index: 2;
      position: relative;
      font-weight: 700;
      padding-top: 65px;
      padding-bottom: 10px;
    }
  }

  .heading_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .our-services_heading{
    font-weight: 600;
    font-family: Arial;
    margin-bottom: 40px;
    font-size: 52px;
  }

  .about-us_heading_and_paragraph_split{
    max-width: 100px;
    width: 100%;
    height: 3px;
    background-color: #dbb75d;
    opacity: 1;
  }

  #shopify-section-{{ section.id }} .swiper.mySwiper {
    margin-top: 5rem;
  }

  #shopify-section-{{ section.id }} .swiper-wrapper {
    padding-bottom: 40px;
  }

  @media screen and (max-width: 991px) {
    #shopify-section-{{ section.id }} .swiper.mySwiper {
      width: 80%;
    }
    #shopify-section-{{  section.id }} {
      margin-top: {{ section.settings.margin_top_mobile }}px;
      margin-bottom: {{ section.settings.margin_bottom_mobile }}px;
    }
  }

  @media screen and (max-width: 591px) {
    #shopify-section-{{ section.id }} .swiper.mySwiper {
      width: 100%;
    }
    #shopify-section-{{ section.id }} .swiper-pagination {
      bottom: 0;
    }
  }
</style>

<div class="t-section__container_heading t-container">
  {% if section.settings.heading != blank %}
    <div class="heading_container">
      {% if section.settings.heading_bottom_margin %}
        <span class="our-services_heading">{{ section.settings.heading }}</span>
        <div class="about-us_heading_and_paragraph_split"></div>
      {% else %}
        <h2 class="banner__heading {{ section.settings.heading_size }}" style="text-align: center;">
          {{ section.settings.heading }}
        </h2>
      {% endif %}
    </div>
  {% endif %}
</div>

{% if section.settings.enable_slider %}
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <li class="swiper-slide">
            <a class="full-unstyled-link" href="{% if block.settings.block_url != blank%}{{ block.settings.block_url }}{% else %}javascript:;{% endif %}">
              <div class="">
                <div class="t920__itemwrapper">
                  <div class="t920__wrapper">
                    <div class="t920__title t-name t-name_lg t920__bottommargin_sm">
                      <div class="" style="font-size: 26px;">{{ block.settings.slide_heading }}</div>
                    </div>
                    <div class="t920__descr t-descr t-descr_xs">{{ block.settings.slide_text }}</div>
                    <div class="t920__symbol" style="color:#dbb75d;opacity:0.40;">0{{ forloop.index }}</div>
                  </div>
                </div>
              </div>
              </a>
          </li>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
  </div>
{% else %}
  <ul class="t920__container t-container">
    {% for block in section.blocks %}
      {% capture thecycle %}{% cycle 'even', 'odd' %}{% endcapture %}
        {% if thecycle == 'even' %}
          <li class="t920__row row__even">
            <a class="full-unstyled-link" href="{% if block.settings.block_url != blank%}{{ block.settings.block_url }}{% else %}javascript:;{% endif %}">
              <div class="t920__col t-col t-prefix_1 t-col_5 t-animate t-animate__chain_first-in-row t-animate_started t-animate__chain_showed">
                <div class="t920__itemwrapper">
                  <div class="t920__wrapper">
                    <div class="t920__title t-name t-name_lg t920__bottommargin_sm">
                      <div class="" style="font-size: 26px;">{{ block.settings.slide_heading }}</div>
                    </div>
                    <div class="t920__descr t-descr t-descr_xs">{{ block.settings.slide_text }}</div>
                    <div class="t920__symbol" style="color:#dbb75d;opacity:0.40;">0{{ forloop.index }}</div>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <div class="t-clear t920__separator"> </div>
        {% else %}
          <li class="t920__row row__odd">
            <a class="full-unstyled-link" href="{% if block.settings.block_url != blank%}{{ block.settings.block_url }}{% else %}javascript:;{% endif %}">
              <div class="t920__offset t-col t-col_5 t-prefix_1"> </div>
              <div class="t920__col t-col t-col_5 t-animate t-animate__chain_first-in-row t-animate_started t-animate__chain_showed">
                <div class="t920__itemwrapper">
                  <div class="t920__wrapper">
                    <div class="t920__title t-name t-name_lg t920__bottommargin_sm">
                      <div class="" style="font-size: 26px;">{{ block.settings.slide_heading }}</div>
                    </div>
                    <div class="t920__descr t-descr t-descr_xs">{{ block.settings.slide_text }}</div>
                    <div class="t920__symbol" style="color:#dbb75d;opacity:0.40;">0{{ forloop.index }}</div>
                    <div class="t-clear t920__separator"> </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
        {% endif %}
    {% endfor %}
  </ul>
{% endif %}

<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 1,
    pagination: {
      el: ".swiper-pagination",
      dynamicBullets: true,
    },
    breakpoints: {
      // when window width is >= 320px
      320: {
        slidesPerView: 1,
        spaceBetween: 20
      },
      // when window width is >= 991px
      991: {
        slidesPerView: 3,
        spaceBetween: 10
      }
    }
  });

</script>

{% schema %}
  {
    "name": "Our services",
    "class": "our-services",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "default": "Image banner",
        "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
      },
      {
        "type": "checkbox",
        "id": "heading_bottom_margin",
        "label": "Heading bottom border",
        "default": true
      },
      {
        "type": "liquid",
        "id": "quiz_helper",
        "label": "Quiz helper"
      },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "h2",
            "label": "t:sections.all.heading_size.options__1.label"
          },
          {
            "value": "h1",
            "label": "t:sections.all.heading_size.options__2.label"
          },
          {
            "value": "h0",
            "label": "t:sections.all.heading_size.options__3.label"
          }
        ],
        "default": "h1",
        "label": "t:sections.all.heading_size.label"
      },
      {
        "type": "checkbox",
        "id": "enable_slider",
        "label": "Enable slider for our services",
        "default": false
      },
      {
        "type": "range",
        "id": "margin_top",
        "unit": "px",
        "min": 0,
        "max": 100,
        "default": 20,
        "step": 1,
        "label": "Top padding of the section"
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "unit": "px",
        "min": 0,
        "max": 100,
        "default": 20,
        "step": 1,
        "label": "Bottom padding of the section"
      },
      {
        "type": "range",
        "id": "margin_top_mobile",
        "unit": "px",
        "min": 0,
        "max": 100,
        "default": 20,
        "step": 1,
        "label": "Top padding of the section on mobile"
      },
      {
        "type": "range",
        "id": "margin_bottom_mobile",
        "unit": "px",
        "min": 0,
        "max": 100,
        "default": 20,
        "step": 1,
        "label": "Bottom padding of the section on mobile"
      }
    ],
    "blocks": [
      {
        "type": "slide",
        "name": "Slide",
        "settings": [
          {
            "type": "text",
            "id": "slide_heading",
            "label": "Slide heading"
          },
          {
            "type": "text",
            "id": "slide_text",
            "label": "Slide text"
          },
          {
            "type": "url",
            "id": "block_url",
            "label": "Link where the block should lead to"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Our services"
      }
    ]
  }
{% endschema %}