<style>
  #shopify-section-{{  section.id }} {
    color: rgba(var(--color-foreground),.75);
    margin-top: {{ section.settings.margin_top }}px;
    margin-bottom: {{ section.settings.margin_bottom }}px;
  }
  .quiz_test {
    padding-top: 1rem;
    background-color: {{ section.settings.background_color }};
  }
  .quiz_button {
    font-size: 1.5rem;
    letter-spacing: .1rem;
    line-height: calc(1 + .2 / var(--font-body-scale));
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 0 3rem;
    cursor: pointer;
    font: inherit;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: box-shadow var(--duration-short) ease;
    -webkit-appearance: none;
    appearance: none;
    background-color: rgb(219, 183, 93);
  }
  .form-control {
    text-align: {{ section.settings.text_alignment }};
  }
  .button--container {
    text-align: {{ section.settings.button_alignment }};
    margin-top: 3.5rem;
  }
  .quiz_options {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2rem 0;
  }
  .quiz-answers-content .quiz_select {
    border-radius: 0;
    background: #fff;
    font-size: inherit;
    color: black;
    line-height: 15px;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    min-width: 150px;
    box-shadow: 0 0 0 var(--inputs-border-width) rgba(var(--color-foreground),var(--inputs-border-opacity));
    -webkit-appearance: auto;
    appearance: auto;
  }
  @media screen and (max-width: 991px) {
    #shopify-section-{{  section.id }} {
      margin-top: {{ section.settings.margin_top_mobile }}px;
      margin-bottom: {{ section.settings.margin_bottom_mobile }}px;
    }
  }
  .accordion-box{
        position:relative;
    }

    .accordion-box .heading{
        position:relative;
        color:#000000;
        font-size:28px;
        font-weight:600;
        margin-bottom:45px;
        font-family: 'Poppins', sans-serif;
    }

    .accordion-box .block{
        position: relative;
        padding-bottom: 22px;
    }

    .accordion-box .block:last-child{
        border-bottom: 0px;
    }


    .accordion-box .block .acc-btn{
      text-align: left;
        /* padding-left:50px; */
        padding-right: 50px;
        position:relative;
        cursor:pointer;
        line-height:1.35;
        color:#000000;
        font-weight:600;
        transition:all 500ms ease;
        
        -ms-transition:all 500ms ease;
        -o-transition:all 500ms ease;
        -moz-transition:all 500ms ease;
        -webkit-transition:all 500ms ease;
        font-family: 'Poppins', sans-serif;
    }

    .accordion-box .block .icon-outer{
        position:absolute;
        right:0px;
        top:50%;
        transform: translate(0, -50%);
        width:30px;
        height:30px;
        text-align:center;
        border-radius:50%;
        font-size:14px;
        color:#ffffff;
        transition:all 500ms ease;
        -moz-transition:all 500ms ease;
        -webkit-transition:all 500ms ease;
        -ms-transition:all 500ms ease;
        -o-transition:all 500ms ease;
        background: #dbb75d;
        /*background-image: -ms-linear-gradient(left, #FF8442 0%, #f4369e 100%);*/
        /*background-image: -moz-linear-gradient(left, #FF8442 0%, #f4369e 100%);*/
        /*background-image: -o-linear-gradient(left, #FF8442 0%, #f4369e 100%);*/
        /*background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #FF8442), color-stop(100, #f4369e));*/
        /*background-image: -webkit-linear-gradient(left, #FF8442 0%, #f4369e 100%);*/
        /*background-image: linear-gradient(to right, #FF8442 0%, #f4369e 100%);*/
    }

    .accordion-box .block .icon-outer .icon{
        position: absolute;
        left: 0px;
        top: 50%;
        margin-top: -15px;
        width: 30px;
        height: 30px;
        text-align: center;
        border-radius: 50%;
        line-height: 30px;
        font-size: 14px;
        color: #ffffff;
    }

    .accordion-box .block .icon-outer .icon-plus{
        opacity:1;
    }

    .accordion-box .block .icon-outer .icon-minus{
        /*opacity:0;*/
        transition: all ease 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px;
        color:#ffffff;
        font-weight:400;
    }

    .accordion-box .block .acc-btn.active .icon-outer .icon-minus{
       transform: rotate(135deg);
    }

    .accordion-box .block .acc-btn.active .icon-outer .icon-plus{
        opacity:0;
    }

    .accordion-box .block .acc-btn.active .icon-outer{
        border-color:#ff3548;
        color:#ff3548;
    }

    .accordion-box .block .acc-content{
        position:relative;
        display:none;
    }

    .accordion-box .block .acc-content .content-text{
        padding-bottom:6px;
    }

    .accordion-box .block .acc-content.current{
        display:block;
    }

    .accordion-box .block .content{
        position:relative;
        font-size:14px;
        padding:25px 0px 0px 0px;
    }

    .accordion-box .block .content p{
        margin-bottom:0px;
        line-height:1.55;
        font-size: {{ section.settings.paragraph_font_size }}px;
        color:#555555;
        padding-left:50px;
    }

    .accordion-box .block .content p:last-child{
        margin-bottom:0px;
    }

    .accordion-box.style-two .block .icon-outer{
        background-image:none;
        background-color:#eb2f5b;
    }
    .faq-title {
        text-align: center;
    }
    .accordion-box .block .acc-btn.active .icon-outer .icon-minus{
       transform: rotate(135deg);
    }


    .our-services_heading {
      color: {{ section.settings.title_color }};
    }

    @media screen and (max-width: 1024px) {
        .accordion.block {
            max-width: 650px;
        }
    }

    @media screen and (max-width: 961px) {
        .accordion-box .block .acc-btn {
            padding-left: 0;
        }

    }

    @media screen and (max-width: 776px) {
      .accordion-box .block .icon-outer {
        transform: scale(0.7);
        position: relative;
      }
      #shopify-section-quizz-section .control_buttons {
        font-size: 13px !important;
      }
      .accordion .block{
        padding-right: 0px;
        max-width: 100%;
      }
      .accordion-box .block .acc-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
      .acc-question{
        margin: 0;
        max-width: 90%;
      }
      .accordion-box .block .content p {
          padding-left: 0;
      }
    }

    #shopify-section-{{ section.id }} .control_buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;

    }
  .possible-answer-input {
    margin: 15px 0;
  }
    #shopify-section-{{ section.id }} .control-btn {
      text-decoration: none;
      color: white;
      margin: 10px;
      width: 150px;
      font-size: 14px;
      padding: 10px;
      text-align: center;
      line-height: 1.55;
      font-weight: 600;
      border-width: 1px;
      border-radius: 0px;
      background-color: #dbb75d;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }

    #shopify-section-{{ section.id }} .control-btn:hover,
    #shopify-section-{{ section.id }} .control-btn:active {
      cursor: pointer;
    }

    @media screen and (min-width: 750px) {
      #shopify-section-{{ section.id }} .quiz_test {
        max-width: 80%;
        margin: 0 auto;
      }
      #shopify-section-{{ section.id }} .label_and_dropdown {
        margin-top: 3rem;
      }
      #shopify-section-{{ section.id }} .accordion-box {
        margin-top: 0;
      }
      #shopify-section-{{ section.id }} .quiz_test {
        padding-top: 0;
      }
    }

    #shopify-section-{{ section.id }} .quiz-question {
      line-height: calc(1 + 0.8 / var(--font-body-scale));
    }


  
</style>

<div class="quiz_test">
  <div id="quiz__form">
    <div class="form-control">
      <ul class="accordion-box regular-client">
        {% for field in shop.metaobjects.questions.values %}
          <div class="label_and_dropdown quiz_options">
              <div class="quiz-question">
                  {{ field.question }}
                  <strong class="sg-required-icon">*<span class="sg-screenreader-only">This question is required.</span></strong>
              </div>
              <div class="quiz-answers-container">
                  <div class="quiz-answers-content">
                      <div class="text">
                          <select class="quiz_select" id="dropdown-{{ forloop.index }}" onchange="updateInputValue()">
                              {% for possible_answer in field.answers.value %}
                                  <option hidden selected value="">-- Please Select --</option>
                                  <option class="quiz_option" value="{{ possible_answer }}">{{ possible_answer }}</option>
                              {% endfor %}
                          </select>
                      </div>
                  </div>
              </div>
          </div>
        {% endfor %}
      </ul>
      <ul class="accordion-box vvip-client">
        {% for field in shop.metaobjects.vvip_question.values %}
          <div class="label_and_dropdown quiz_options bbbb">
              <div class="quiz-question">
                  {{ field.question }}
                  <strong class="sg-required-icon">*<span class="sg-screenreader-only">This question is required.</span></strong>
              </div>
              <div class="quiz-answers-container">
                  <div class="quiz-answers-content">
                      <div class="text">
                          <select class="quiz_select" id="dropdown-{{ forloop.index }}" onchange="updateInputValue()">
                              {% for possible_answer in field.answers.value %}
                                  <option hidden selected value="">-- Please Select --</option>
                                  <option class="quiz_option" value="{{ possible_answer }}">{{ possible_answer }}</option>
                              {% endfor %}
                          </select>
                      </div>
                  </div>
              </div>
          </div>
        {% endfor %}
      </ul>
    </div>
    <input type="hidden" name="customer[tags]" class="all-inputs-value" value="">
  </div>
</div>

{% schema %}
  {
    "name": "Quiz",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color of the section"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Center",
            "value": "center"
          }
        ],
        "default": "center",
        "label": "Text alignment"
      },
      {
        "type": "select",
        "id": "button_alignment",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Center",
            "value": "center"
          }
        ],
        "default": "center",
        "label": "Button alignment"
      },
      {
        "type": "range",
        "id": "margin_top",
        "unit": "px",
        "min": 0,
        "max": 100,
        "default": 20,
        "step": 1,
        "label": "Top padding of the section"
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "unit": "px",
        "min": 0,
        "max": 100,
        "default": 20,
        "step": 1,
        "label": "Bottom padding of the section"
      },
      {
        "type": "range",
        "id": "margin_top_mobile",
        "unit": "px",
        "min": 0,
        "max": 100,
        "default": 20,
        "step": 1,
        "label": "Top padding of the section on mobile"
      },
      {
        "type": "range",
        "id": "margin_bottom_mobile",
        "unit": "px",
        "min": 0,
        "max": 100,
        "default": 20,
        "step": 1,
        "label": "Bottom padding of the section on mobile"
      }
    ],
    "presets": [
      {
        "name": "Quiz"
      }
    ]
  }
{% endschema %}